mjml
    mj-head
        mj-title Boostez votre trésorie
        mj-attributes
            mj-class(name="cB" color="#002467")/
            mj-class(name="cJ" color="#ffd400")/
        mj-breakpoint(width="480px")
    mj-body(background-color="#dddddd")
        //-content
        block content