extends templates/_layout 
block content 
    mj-section(background-color="#ffffff")
        mj-column
                mj-text(align="center") Voir la version en ligne | Se desincrire de la liste de diffusion
    mj-section(background-color="#002467")
        mj-column
            mj-image(align="left" width="153px" src="https://ext.lb-lg.fr/CRPA/images/logo.png" alt="")
            mj-text(mj-class="cJ" font-size="32px" ) Boostez votre trésorerie dès aujourd'hui !
            mj-text(color="#ffffff") Nous récupérons chaque année des milliers d'impayés de toute nature.
            mj-text(color="#ffffff") Notre société vous propose les solutions adaptées à vos besoins.
            mj-text(mj-class="cB") Confiez nous le recouvrement de vos factures impayées
        mj-column
            mj-image(src="https://ext.lb-lg.fr/CRPA/images/banner2.jpg" alt="")
    mj-section(background-color="#ffffff")
        mj-column(background-color="#ffd400")
            mj-image(src="https://ext.lb-lg.fr/CRPA/images/img11.jpg" alt="")
            mj-text(mj-class="cB") Recouvrement de créances
        mj-column(background-color="#ffd400")
            mj-image(src="https://ext.lb-lg.fr/CRPA/images/img12.jpg" alt="")
            mj-text(mj-class="cB") Relances précontentieuses à votre nom
        mj-column
            mj-image(src="https://ext.lb-lg.fr/CRPA/images/p5.png" alt="")
            mj-text(mj-class="cB") Visite à domicile
            mj-image(src="https://ext.lb-lg.fr/CRPA/images/p6.png" alt="")
            mj-text(mj-class="cB") Procédure amiable et judiciaire
    //- footer
    mj-section(background-color="#ffffff")
        mj-column(width="100%")
            mj-text(align="center" mj-class="cB") Pour plus d'informations, contactez-nous dès maintenant !
        mj-column
            mj-text(mj-class="cB") 03 81 88 22 36
        mj-column
            mj-text(mj-class="cB") contact@crpa.fr
    mj-section(background-color="#002467")
        mj-column
            mj-text(align="center" color="#ffffff" text-transform="uppercase") www.crpa.fr
    mj-section(background-color="#ffffff")
        mj-column
            mj-text(align="center") Se désinscrire de la liste de diffusion
