extends templates/_layout
    mj-section
        mj-column
            mj-text Voir la version en ligne | Se desincrire de la liste de diffusion
    mj-section
        mj-column
            mj-image 
            mj-text Boostez votre trésorerie dès aujourd'hui !
            mj-text Nous récupérons chaque année des milliers d'impayés de toute nature.
            mj-text Notre société vous propose les solutions adaptées à vos besoins.
            mj-text Confiez nous le recouvrement de vos factures impayées
        mj-column
            mj-image
    mj-section
        mj-column
            mj-image
            mj-text Recouvrement de créances
        mj-column
            mj-image
            mj-text Relances précontentieuses à votre nom
        mj-column
            mj-image
            mj-text Visite à domicile
            mj-image
            mj-text Procédure amiable et judiciaire
    //- footer
    mj-section
        mj-column
            mj-text Pour plus d'informations, contactez-nous dès maintenant !
        mj-column
            mj-text 03 81 88 22 36
        mj-column
            mj-text contact@crpa.fr
    mj-section
        mj-column
            mj-text www.crpa.fr
    mj-section
        mj-column
            mj-text Se désinscrire de la liste de diffusion
